body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-repeat: repeat;
  background-size:cover;
  height: 100vh;
  background-color:black ;
}

a {
  color: #00B7FF;
}

#titulo{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
  color:white;
  font-size: 20px;
   ;
}

#titulo>h1{
  color:white;
  font-size: 150px; 
}

#titulo>a>button{
  color:rgb(28, 103, 189);
  font-size: 40px;
  border-radius: 40px;
  padding: 15px;
  margin-right: 250px;
  margin-top: 1em; 
}

#pelis{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}